.footer_links {
  padding: 10px;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social_media {
  margin-top: var(--space-small);
}

.social_media a {
  display: inline-block;
  padding: 10px;
}
.footer_image {
  width: 30px;
  height: 30px;
}

.copy_right {
  margin-top: var(--space-small);
  text-align: center;
}

.copy_right p {
  color: #7ae05b;
  font-size: 14px;
  font-family: "Satisfy", sans-serif;
}
