.menu_item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.menu_item:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.menu_left {
  flex: 1;
}
.menu_left img {
  width: 100%;
  height: 500px;
}

.menu_right {
  flex: 1;
}
.menu_right h2 {
  color: #03384b;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;
}
.menu_description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: var(--space-ultra);
  font-family: "Raleway", sans-serif;
  color: #03384b;
}
.btn_primary {
  display: flex;
  margin: 30px auto;
  padding: 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-width: 1px;
  background-color: #03384b;
  color: #fff;
  border-color: #03384b;
  font-weight: 400;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.btn_primary:hover {
  text-decoration: none;
  background-color: #c5991a;
  border-color: #03384b;
  color: #03384b;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  .menu_item {
    display: flex;
    flex-direction: column;
  }
  .menu_item:nth-child(even) {
    display: flex;
    flex-direction: column;
  }
  .menu_left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .menu_left img {
    width: 100%;
    height: 400px;
  }
  .menu_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}
@media screen and (max-width: 500px) {
  .menu_left img {
    width: 100%;
    height: 300px;
  }
}
