.navbar_links {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: var(--color-primary);
  position: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.navbar_left {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  flex-basis: 40%;
}
.navbar_right {
  display: flex;
  text-align: center;
  justify-content: right;
  align-items: center;
  flex-basis: 60%;
}

.navbar_img {
  display: flex;
  width: 150px;
  height: 100px;
}
.navbar_title {
  text-align: center;
  text-decoration: none;
  color: #7ae05b;
  font-family: "Satisfy", cursive;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.5px;
}

.navbar_links a {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin: var(--space-big);
  font-family: "Raleway", sans-serif;
}

.navbar_links a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  .navbar_links a {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1.5px;
    margin: var(--space-medium);
  }
}

@media screen and (max-width: 900px) {
  .navbar_left {
    display: none;
  }
  .navbar_right {
    flex-basis: 100%;
    justify-content: center;
  }

  .navbar_links a {
    font-weight: 400;
    font-size: 18px;
  }
}

@media screen and (max-width: 550px) {
  .navbar_links a {
    font-weight: 200;
    font-size: 12px;
    margin: 5px;
  }
}
