.home_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-bg);
}
.hero_section {
  display: flex;
  height: 100vh;
  position: relative;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.hero_img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  position: absolute;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
}

.hero_content {
  display: flex;
  position: relative;
  text-align: center;
  flex-direction: column;
}
.hero_content h1 {
  color: var(--color-primary);
  font-weight: 800;
  font-family: "laila", sans-serif;
}
.hero_content span {
  font-size: 36px;
  color: var(--color-primary);
  font-weight: 800px;
  font-style: italic;
  font-family: "Raleway", sans-serif;
}
.home_list {
  display: flex;
  max-width: 1800px;
  margin: 0 auto;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .hero_content h1 {
    font-size: 48px;
  }
  .home_list {
    display: flex;
    width: 100%;
  }
}
