h1,
h2,
h3,
p {
  margin-top: 0;
}

h1 {
  font-size: 48px;
  line-height: 1.5;
}

h2 {
  font-size: 36px;
  line-height: 1.5;
  font-family: "laila", sans-serif;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: "laila", sans-serif;
  margin-bottom: 0;
  color: var(--color-primary);
}

ul {
  margin-top: 0;
  margin-bottom: var(--space-big);
}
